importFrom(Rcpp, evalCpp)
useDynLib(hicrep)

export(depth.adj, get.scc, 
       htrain, vstran, 
       cool2matrix, fast.mean.filter)

importFrom(stats, "cor", "cov", "ecdf", "var")
importFrom(rhdf5, "h5read", "H5close")
import(rmarkdown)
import(testthat)